# Question 1
# Create two sets, set1 and set2, and find their intersection.

# Question 2
# Given a set of integers named "numbers", remove all even numbers from the set.

# Question 3
# Write a function that takes two sets as input and returns a new set containing unique elements from both sets.

# Question 4
# Given two sets, setA and setB, determine if setA is a subset of setB.

# Question 5
# Create a set named "unique_chars" that contains unique characters from a given string.

# Question 6
# Implement a function that takes a list of sets and returns the union of all sets in the list.

# Question 7
# Find the symmetric difference between two sets, setX and setY.

# Question 8
# Write a program to count the number of occurrences of each element in a set.

# Question 9
# Create a set named "vowels" containing vowels from the alphabet and find the difference between this set and a given set of letters.

# Question 10
# Implement a function that returns True if all sets in a list are disjoint, False otherwise.

# Question 11
# Given a set of words, find the longest word in the set.

# Question 12
# Write a program to find the common elements between two sets, setP and setQ.

# Question 13
# Create a set named "primes" containing prime numbers less than 20 and find their sum.

# Question 14
# Implement a function that takes two sets, setM and setN, and returns a set containing elements present in both sets but not in their intersection.

# Question 15
# Given a set of names, find the second smallest name in the set.

**Solved Questions**

Question 1:
Create two sets, set1 and set2, and find their intersection.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection)

Intersection of set1 and set2: {4, 5}

Question 2:
Given a set of integers named "numbers", remove all even numbers from the set.

In [ ]:
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
numbers = {x for x in numbers if x % 2 != 0}
print("Set after removing even numbers:", numbers)

Set after removing even numbers: {1, 3, 5, 7, 9}

Question 3:
Write a function that takes two sets as input and returns a new set containing unique elements from both sets.

In [ ]:
def unique_elements(set1, set2):
    return set1.union(set2)

Question 4:
Given two sets, setA and setB, determine if setA is a subset of setB.

In [ ]:
setA = {1, 2, 3}
setB = {1, 2, 3, 4, 5}
is_subset = setA.issubset(setB)
print("Is setA a subset of setB:", is_subset)

Is setA a subset of setB: True

Question 5:
Create a set named "unique_chars" that contains unique characters from a given string.

In [ ]:
string = "hello world"
unique_chars = set(string)
print("Set of unique characters:", unique_chars)

Set of unique characters: {'e', 'o', 'h', ' ', 'w', 'd', 'r', 'l'}

Question 6:
Implement a function that takes a list of sets and returns the union of all sets in the list.

In [ ]:
def union_of_sets(set_list):
    return set().union(*set_list)

Question 7:
Find the symmetric difference between two sets, setX and setY.

In [ ]:
setX = {1, 2, 3}
setY = {3, 4, 5}
symmetric_difference = setX.symmetric_difference(setY)
print("Symmetric difference between setX and setY:", symmetric_difference)

Symmetric difference between setX and setY: {1, 2, 4, 5}

Question 8:
Write a program to count the number of occurrences of each element in a set.

In [ ]:
my_set = {1, 2, 2, 3, 3, 3, 4, 4, 4, 4}

element_counts = {}
my_list = list(my_set)
for element in my_list:
    element_counts[element] = my_list.count(element)
print("Occurrences of each element:", element_counts)

Occurrences of each element: {1: 1, 2: 1, 3: 1, 4: 1}

Question 9:
Create a set named "vowels" containing vowels from the alphabet and find the difference between this set and a given set of letters.

In [ ]:
vowels = {'a', 'e', 'i', 'o', 'u'}
given_set = {'a', 'b', 'c', 'd'}
difference = vowels.difference(given_set)
print("Difference between vowels and given set:", difference)

Difference between vowels and given set: {'u', 'e', 'o', 'i'}

Question 10:
Implement a function that returns True if all sets in a list are disjoint, False otherwise.

In [ ]:
def are_disjoint(set_list):
    return all(set_list[0].isdisjoint(other_set) for other_set in set_list[1:])

Question 11:
Given a set of words, find the longest word in the set.

In [ ]:
words = {"apple", "banana", "orange", "kiwi"}
longest_word = max(words, key=len)
print("Longest word in the set:", longest_word)

Longest word in the set: orange

Question 12:
Write a program to find the common elements between two sets, setP and setQ.

In [ ]:
setP = {1, 2, 3, 4, 5}
setQ = {4, 5, 6, 7, 8}
common_elements = setP.intersection(setQ)
print("Common elements between setP and setQ:", common_elements)

Common elements between setP and setQ: {4, 5}

Question 13:
Create a set named "primes" containing prime numbers less than 20 and find their sum.

In [ ]:
primes = {2, 3, 5, 7, 11, 13, 17, 19}
sum_of_primes = sum(primes)
print("Sum of prime numbers less than 20:", sum_of_primes)

Sum of prime numbers less than 20: 77

Question 14:
Implement a function that takes two sets, setM and setN, and returns a set containing elements present in both sets but not in their intersection.

In [ ]:
def exclusive_elements(setM, setN):
    return (setM.union(setN)) - (setM.intersection(setN))

Question 15:
Given a set of names, find the second smallest name in the set.

In [ ]:
names = {"John", "Emma", "Michael", "Sophia"}
sorted_names = sorted(names)
second_smallest = sorted_names[1]
print("Second smallest name in the set:", second_smallest)

Second smallest name in the set: John